<!DOCTYPE html>
<!-- ng app is another directive -->
<html ng-app="store"> 
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	</head>
	<!-- ng controller is also another directive -->
	<body ng-controller="StoreController as store">
		<div ng-repeat="product in store.products">
			<!-- <div ng-hide="store.product.soldOut"> -->
				<h1>{{product.name}}</h1>
				<h2>{{product.price | currency}}</h2>
				<p>{{product.description}}</p>
				<button ng-show="product.canPurchase"> Add to cart </button>
			<!--</div>-->
			<script type="text/javascript" src="angular.min.js"></script>
			<script type="text/javascript" src="app.js"></script>
			<p>{{"Hello" + " you"}}</p>
		<!-- ng-init allows to evaluate an expression in the current scope -->
		<section ng-init="tab =1" ng-controller="PanelController as panel">
			<ul class="nav nav-pills">
				<li ng-class="{ active: panel.isSelected(1)}">
					<a href ng-click="panel.selectTab(1)">Description</a>
				</li>
				<li ng-class="{ active:panel.isSelected(2)}">
					<a href ng-click="panel.selectTab(2)">specifications</a>
				</li>
				<li ng-class="{ active:panel.isSelected(3)}">
					<a href ng-click="panel.selectTab(3)">reviews</a>
				</li>
			</ul>

			{{tab}}

			<div class="panel" ng-show="panel.isSelected(1)">
				<h4>Description</h4>
				<p>{{product.description}}</p>
			</div>			
			<div class="panel" ng-show="panel.isSelected(2)">
				<h4>Specifications</h4>
				<blockquote>None yet</blockquote>
			</div>
			<div class="panel" ng-show="panel.isSelected(3)">
				<h4>Reviews</h4>
				<blockquote>None yet</blockquote>
			</div>
		</section>
		</div>
	</body>
</html>